<noscript>
    <iframe
    height="0"
    width="0"
    style="display: none; visibility: hidden"
    data-src="https://www.googletagmanager.com/ns.html?id=GTM-KJFSD7C"
    class="lazyload"
    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    >
    </iframe>
</noscript>
<a class="screen-reader-text skip-link" href="#content" title="Chuyển đến nội dung">
    Chuyển đến nội dung
</a>
<header id="masthead" class="site-header" itemtype="https://schema.org/WPHeader" itemscope>
    <div class="inside-header grid-container grid-parent">
        <div class="grid-20 tablet-grid-33 header-left mobile-grid-100">
            <a routerLink="/home" routerLinkActive="active">
                <noscript>
                    <img
                        alt="Hệ thống thẩm mỹ Argency"
                        title="Hệ thống thẩm mỹ Argency"
                        data-src="./assets/images/logo.jpg"
                        class="lazyload"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    />
                    <noscript>
                        <img
                        src="./assets/images/logo.jpg"
                        alt="Hệ thống thẩm mỹ Argency"
                        title="Hệ thống thẩm mỹ Argency"
                        />
                    </noscript>
                </noscript>
                <img
                class="lazyload"
                src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E"
                data-src="./assets/images/logo.jpg"
                alt="Hệ thống thẩm mỹ Argency"
                title="Hệ thống thẩm mỹ Argency"
                />
            </a>
        </div>
        <div class="grid-45 tablet-grid-33 mobile-grid-100 header-center">
            <form method="get" class="search-form" action="#">
                <label>
                    <span class="screen-reader-text">Tìm kiếm cho:</span>
                    <input
                        type="search"
                        class="search-field"
                        placeholder="Tìm kiếm"
                        value=""
                        name="s"
                        title="Tìm kiếm cho:"
                    />
                </label>
                <input type="submit" class="search-submit" value="" />
            </form>
        </div>
        <div class="grid-35 tablet-grid-33 header-right hide-on-mobile">
            <div class="head-contact">
                <div class="head-item">
                    <a routerLink="/home" routerLinkActive="active" class="sub_ol" rel="nofollow">
                        <span>Đăng Ký</span>
                        <p>Nhanh</p>
                    </a>
                </div>
                <div class="head-item">
                    <a href="tel:0833082222" class="sub_ol_2" rel="nofollow">
                        <span>Tư vấn</span>
                        <p class="head-hotline">0833.08.2222</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<nav id="site-navigation" class="main-navigation" itemtype="https://schema.org/SiteNavigationElement" itemscope>
  <div class="inside-navigation grid-container grid-parent">
    <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">
      <span class="mobile-menu">Menu</span>
    </button>
    <div id="primary-menu" class="main-nav">
      <ul id="menu-main-menu" class="menu sf-menu">
        <li id="menu-item-47" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-47">
            <a routerLink="/home" routerLinkActive="active"><i class="icon ion-md-home"></i></a>
        </li>
        <li id="menu-item-1311" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1311" >
            <a rel="nofollow" routerLink="/about" routerLinkActive="active">Giới thiệu</a>
        </li>
        <li id="menu-item-87" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-87">
            <a rel="nofollow" routerLink="/loseweight" routerLinkActive="active">Giảm Béo</a>
        </li>
        <li id="menu-item-52" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-52">
            <a rel="nofollow" routerLink="/melasma" routerLinkActive="active">Trị Nám</a>
        </li>
        <li id="menu-item-1314" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1314">
            <a rel="nofollow" routerLink="/skin" routerLinkActive="active">Trẻ Hóa Da</a>
        </li>
        <li id="menu-item-286" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-286">
            <a rel="nofollow" routerLink="/services" routerLinkActive="active">Dịch Vụ Khác</a>
        </li>
        <li id="menu-item-1315" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1315">
            <a rel="nofollow" routerLink="/news" routerLinkActive="active">Tin Tức</a>
        </li>
        <li id="menu-item-55" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55">
            <a rel="nofollow" routerLink="/principal" routerLinkActive="active">Chính Sách Bảo Mật</a>
        </li>
        <li id="menu-item-55" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55">
            <a rel="nofollow" routerLink="/contact" routerLinkActive="active">Liên hệ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="page" class="hfeed site grid-container container grid-parent">
    <router-outlet></router-outlet>
</div>


<div class="site-footer">
    <div class="footer-widget">
        <div class="grid-container hide-on-mobile hide-on-tablet">
            <div class="grid-30">
                <aside id="nav_menu-6" class="widget inner-padding widget_nav_menu">
                    <a routerLink="/home" routerLinkActive="active">
                        <noscript>
                            <img alt="Hệ thống thẩm mỹ Argency" title="Hệ thống thẩm mỹ Argency" data-src="./assets/images/logo.jpg" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                            <noscript>
                                <img src="./assets/images/logo.jpg" alt="Hệ thống thẩm mỹ Argency" title="Hệ thống thẩm mỹ Argency" />
                            </noscript>
                        </noscript>
                        <img class=" ls-is-cached lazyloaded" src="./assets/images/logo.jpg" data-src="./assets/images/logo.jpg" alt="Hệ thống thẩm mỹ Argency" title="Hệ thống thẩm mỹ Argency"/>
                    </a>  
                </aside>
                <aside id="text-3" class="widget inner-padding widget_text">
                    <div class="textwidget">
                        <div style="display: flex;text-align: right; color: #fff;">
                            <div class="head-item" style="width: 100%;text-align: center;">
                                <a href="tel:0833082222" class="sub_ol_2" style="display: inline-block;" rel="nofollow"><p class="head-hotline" style="color: #fff;padding-left: 0;padding-top: 5px;">0833.08.2222</p></a>
                            </div>
                        </div>
                        <aside id="simple-social-icons-3" class="widget inner-padding simple-social-icons" style="margin-top: 20px;padding: 10px 25px;" >
                            <ul class="alignleft" style="width: 100%;padding: 0 12%;">
                                <li class="ssi-email">
                                    <a href="mailto:.;">
                                        <svg role="img"  class="social-email" aria-labelledby="social-email-3">
                                            <title id="social-email-3">Email</title>
                                            <use xlink:href="./assets/images/symbol-defs.svg#social-email" ></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="ssi-facebook">
                                    <a href="https://www.facebook.com/">
                                        <svg role="img" class="social-facebook" aria-labelledby="social-facebook-3" >
                                            <title id="social-facebook-3">Facebook</title>
                                            <use xlink:href="./assets/images/symbol-defs.svg#social-facebook" >
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="ssi-twitter">
                                    <a routerLink="/home" routerLinkActive="active">
                                        <svg role="img" class="social-twitter" aria-labelledby="social-twitter-3">
                                            <title id="social-twitter-3">Twitter</title>
                                            <use xlink:href="./assets/images/symbol-defs.svg#social-twitter"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="ssi-youtube">
                                    <a routerLink="/home" routerLinkActive="active">
                                        <svg role="img"  class="social-youtube" aria-labelledby="social-youtube-3">
                                            <title id="social-youtube-3">YouTube</title>
                                            <use xlink:href="./assets/images/symbol-defs.svg#social-youtube" ></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </aside>
                    </div>
                </aside>
            </div>


            <div class="grid-70">
                <h1 class="widget-title" style="margin-top: 55px; font-size: 22px;"><strong>HỆ THỐNG THẨM MỸ VIỆN QUỐC TẾ AURA</strong></h1>
                <aside id="text-3" class="widget inner-padding widget_text">
                    <div class="textwidget" style="font-size: 14px;">
                        <p>
                            TPHCM, SÔ 67 TRẦN THIỆN CHÁNH, PHƯỜNG 12, Q.10<br />
                            TP LONG XUYÊN, SÔ 790 HÀ HOÀNG HỔ, P. MỸ XUYÊN, TP.LONG XUYÊN<br />
                            TP CẦN THƠ, SỐ 1728 ĐƯỜNG 3/2, PHƯỜNG HƯNG LỢI, Q.NINH KIỀU<br />
                            TP MỸ THO, SỐ 141 LÝ THƯỜNG KIỆT, PHƯỜNG 6, TP.MỸ THO<br />
                            TP VĨNH LONG, SỐ PG1-11 VINCOM SHOPHOUSE VĨNH LONG, ĐƯỜNG PHẠM THÁI BÌNH, P.4, TP.VĨNH LONG<br />
                            TP RẠCH GIÁ, SỐ PL1-20 KĐT PHÚ CƯỜNG, PHƯỜNG AN HÒA, TP.RẠCH GIÁ<br />
                            TP CÀ, SỐ PG1-09 VÀ PG1-10 VINCOM SHOPHOUSE CÀ MAU, PHƯỜNG 1, TP.CÀ MAU<br />
                        </p>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>

<a title="Di chuyển lên đầu trang" rel="nofollow" href="#" class="generate-back-to-top" style="opacity: 0; visibility: hidden" data-scroll-speed="400" data-start-scroll="300" >
    <span class="screen-reader-text">Di chuyển lên đầu trang</span>
</a>
<div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3&appId=152446998874816&autoLogAppEvents=1"></script>
<div class="hotline-mobile hide-on-desktop">
    <a href="tel:0833082222"><i class="icon ion-md-call"></i> 0833.08.2222</a>
</div>
<div class="callhotline hide-on-mobile hide-on-tablet">
    <div class="callbutton">
        <a href="tel:0833082222"><i class="icon ion-md-call"></i> 0833.08.2222</a>
    </div>
</div>