<div class="grid-container">
  <div class="container">
    <div class="row">
      <div
        class="col-md-12"
        style="padding-left: 20px; padding-top: 40px; padding-bottom: 10px"
      >
        <span style="border-left: solid 3px #836c47; padding-left: 15px">
          Trang chủ / Chính sách bảo mật thông tin khách hàng</span
        >
      </div>
    </div>
  </div>
  <div class="container" style="padding: 20px">
    <div class="row">
      <div class="col-md-12">
        <p style="text-align: justify">
          <span style="font-size: 11pt"
            ><span style="font-family: Roboto, sans-serif"
              ><span style="color: #0a0a0a"
                >Thẩm Mỹ Viện Quốc Tế AURA xin được gửi lời cảm ơn sâu sắc đến Quý
                khách hàng đã tin tưởng và sử dụng dịch vụ. Chúng tôi tôn trọng và
                cam kết sẽ bảo mật những thông tin mang tính riêng tư của Quý
                khách. Xin vui lòng đọc bản Chính sách bảo mật dưới đây để hiểu
                hơn những cam kết mà chúng tôi thực hiện nhằm tôn trọng và bảo vệ
                quyền lợi của khách hàng.</span
              ></span
            ></span
          >
        </p>
  
        <p style="text-align: justify">
          <a href="https://thammyaura.vn/chinh-sach-bao-mat-thong-tin"
            ><span style="font-size: 11pt"
              ><span style="font-family: Roboto, sans-serif"
                ><span style="color: #0a0a0a"
                  ><em>Chính sách bảo mật thông tin khách hàng</em></span
                ></span
              ></span
            ></a
          ><span style="font-size: 11pt"
            ><span style="font-family: Roboto, sans-serif"
              ><span style="color: #0a0a0a">
                sẽ giải thích cách AURA tiếp nhận, sử dụng và (trong trường hợp
                nào đó) tiết lộ thông tin cá nhân khách hàng. Chính sách cũng sẽ
                giải thích các bước chúng tôi thực hiện để bảo mật thông tin cá
                nhân của khách hàng. Cuối cùng, chính sách bảo mật sẽ giải thích
                quyền lựa chọn của Quý khách về việc thu thập, sử dụng và tiết lộ
                thông tin cá nhân của mình.</span
              ></span
            ></span
          >
        </p>
  
        <p style="text-align: justify">
          <span style="font-size: 11pt"
            ><span style="font-family: Roboto, sans-serif"
              ><span style="color: #0a0a0a"
                >Bảo vệ dữ liệu cá nhân và gây dựng được niềm tin cho Quý khách là
                vấn đề rất quan trọng với chúng tôi. Vì vậy, chúng tôi sẽ dùng tên
                và các thông tin khác liên quan đến Quý khách tuân thủ theo nội
                dung của Chính sách bảo mật này. Chúng tôi chỉ thu thập những
                thông tin cần thiết liên quan đến giao dịch mua bán.</span
              ></span
            ></span
          >
        </p>
  
        <p style="text-align: justify">
          <span style="font-size: 11pt"
            ><span style="font-family: Roboto, sans-serif"
              ><span style="color: #0a0a0a"
                >Quý khách có thể truy cập vào website và trình duyệt mà không cần
                phải cung cấp thông tin cá nhân; lúc này, quý khách đang ẩn danh
                và chúng tôi không thể biết bạn là ai nếu bạn không đăng nhập vào
                tài khoản của mình.</span
              ></span
            ></span
          >
        </p>
  
        <p style="text-align: justify">
          <span style="font-size: 11pt"
            ><span style="font-family: Roboto, sans-serif"
              ><span style="color: #0a0a0a"
                >Nội dung chính sách bao gồm:</span
              ></span
            ></span
          >
        </p>
  
        <h2 style="text-align: justify">
          <span style="font-size: 16pt"
            ><span style="font-family: Arial"
              ><span style="color: #000000"
                >1. Mục đích &amp; phạm vi thu thập thông tin</span
              ></span
            ></span
          >
        </h2>
  
        <p style="text-align: justify">
          <span style="font-size: 11.5pt"
            ><span style="font-family: Arial"
              ><span style="color: #0a0a0a"
                >– Khi bạn đăng ký tài khoản sử dụng, chúng tôi sẽ lưu lại những
                thông tin mà khách hàng đã cung cấp như họ, tên, địa chỉ, email,
                số điện thoại,..để có thể phục vụ cho việc tư vấn, sắp xếp các
                buổi hẹn sử dụng dịch vụ tại AURA được dễ dàng và thuận tiện
                nhất.</span
              ></span
            ></span
          >
        </p>
  
        <p style="text-align: justify">
          <span style="font-size: 11.5pt"
            ><span style="font-family: Arial"
              ><span style="color: #0a0a0a"
                >– Khi đăng nhập tài khoản trên website
              </span></span
            ></span
          ><a href="https://thammyaura.vn/" style="text-decoration: none"
            ><span style="font-size: 11.5pt"
              ><span style="font-family: Arial"
                ><span style="color: #1155cc"
                  ><u>https://thammyaura.vn/</u></span
                ></span
              ></span
            ></a
          ><span style="font-size: 11.5pt"
            ><span style="font-family: Arial"
              ><span style="color: #0a0a0a">
                cũng như đến với hệ thống cửa hàng của Thẩm Mỹ Viện Quốc Tế AURA,
                bạn nên cung cấp đầy đủ chính xác thông tin cá nhân để:</span
              ></span
            ></span
          >
        </p>
  
        <ul>
          <li style="list-style-type: disc; text-align: justify">
            <span style="font-size: 12pt"
              ><span style="font-family: Nunito, sans-serif"
                ><span style="color: #0a0a0a"
                  >Hỗ trợ khách hàng khi sử dụng dịch vụ của Thẩm Mỹ Viện Quốc Tế
                  AURA.</span
                ></span
              ></span
            >
          </li>
          <li style="list-style-type: disc; text-align: justify">
            <span style="font-size: 12pt"
              ><span style="font-family: Nunito, sans-serif"
                ><span style="color: #0a0a0a"
                  >Giải đáp thắc mắc, tư vấn dịch vụ cho khách hàng.</span
                ></span
              ></span
            >
          </li>
          <li style="list-style-type: disc; text-align: justify">
            <span style="font-size: 12pt"
              ><span style="font-family: Nunito, sans-serif"
                ><span style="color: #0a0a0a"
                  >Lên lịch, sắp xếp các buổi điều tư vấn, điều trị cho khách
                  hàng</span
                ></span
              ></span
            >
          </li>
          <li style="list-style-type: disc; text-align: justify">
            <span style="font-size: 11.5pt"
              ><span style="font-family: Arial"
                ><span style="color: #0a0a0a"
                  >Cập nhật các thông tin mới nhất về chúng tôi bao gồm: Các
                  chương trình khuyến mãi, thông tin về sản phẩm/ dịch vụ mới hoặc
                  các chương trình thúc đẩy phát triển khác của công ty chúng
                  tôi.</span
                ></span
              ></span
            >
          </li>
          <li style="list-style-type: disc; text-align: justify">
            <span style="font-size: 12pt"
              ><span style="font-family: Nunito, sans-serif"
                ><span style="color: #0a0a0a"
                  >Thực hiện các hoạt động quảng bá liên quan đến các sản phẩm và
                  dịch vụ của Thẩm Mỹ Viện Quốc Tế AURA.</span
                ></span
              ></span
            >
          </li>
          <li style="list-style-type: disc; text-align: justify">
            <span style="font-size: 11.5pt"
              ><span style="font-family: Arial"
                ><span style="color: #0a0a0a"
                  >Chúng tôi sử dụng thông tin khách hàng một cách hợp lý vì mục
                  đích phát triển &amp; và hoàn thiện dịch vụ của công ty để có
                  thể phục vụ tốt hơn cho khách hàng</span
                ></span
              ></span
            >
          </li>
          <li style="list-style-type: disc; text-align: justify">
            <span style="font-size: 11.5pt"
              ><span style="font-family: Arial"
                ><span style="color: #0a0a0a"
                  >&nbsp;Giải quyết tranh chấp, khiếu nại, xử lý các phản hồi của
                  khách hàng.</span
                ></span
              ></span
            >
          </li>
        </ul>
  
        <h2 style="text-align: justify">
          <span style="font-size: 16pt"
            ><span style="font-family: Arial"
              ><span style="color: #000000"
                >2. Phạm vi sử dụng thông tin</span
              ></span
            ></span
          >
        </h2>
  
        <p style="text-align: justify">
          <span style="font-size: 10.5pt"
            ><span style="font-family: Arial"
              ><span style="color: #444444"
                >Chúng tôi rất coi trọng việc bảo mật thông tin khách hàng nên
                chúng tôi cam kết sẽ tuyết đối giữ bí mật thông tin khách hàng,
                không tự ý sử dụng thông tin khách hàng với mục đích không mang
                lại lợi ích cho khách hàng. Chúng tôi cam kết không buôn bán, trao
                đổi thông tin bảo mật của khách hàng cho bất kỳ bên thứ ba nào.
                Tuy nhiên, trong một số trường hợp đặc biệt sau đây chúng tôi có
                thể chia sẽ thông tin khách hàng:</span
              ></span
            ></span
          >
        </p>
  
        <p style="text-align: justify">
          <span style="font-size: 11.5pt"
            ><span style="font-family: Arial"
              ><span style="color: #0a0a0a"
                >– Khi có yêu cầu của cơ quan pháp luật;</span
              ></span
            ></span
          >
        </p>
  
        <p style="text-align: justify">
          <span style="font-size: 11.5pt"
            ><span style="font-family: Arial"
              ><span style="color: #0a0a0a"
                >– Trong trường hợp mà chúng tôi tin rằng điều đó sẽ giúp chúng
                tôi bảo vệ quyền lợi chính đáng của mình trước pháp luật;</span
              ></span
            ></span
          >
        </p>
  
        <p style="text-align: justify">
          <span style="font-size: 11.5pt"
            ><span style="font-family: Arial"
              ><span style="color: #0a0a0a"
                >– Tình huống khẩn cấp và cần thiết để bảo vệ quyền an toàn cá
                nhân của các thành viên Thẩm Mỹ Viện Quốc Tế AURA;</span
              ></span
            ></span
          >
        </p>
  
        <p style="text-align: justify">
          <span style="font-size: 11.5pt"
            ><span style="font-family: Arial"
              ><span style="color: #0a0a0a"
                >– Được sự đồng ý của khách hàng;</span
              ></span
            ></span
          >
        </p>
  
        <p style="text-align: justify">
          <span style="font-size: 11.5pt"
            ><span style="font-family: Arial"
              ><span style="color: #0a0a0a"
                >– Trong một số trường hợp cần thiết phải cung cấp thông tin khách
                hàng khác, như các chương trình khuyến mãi có sự tài trợ của một
                bên thứ ba chẳng hạn, chúng tôi sẽ thông báo cho khách hàng trước
                khi thông tin của khách hàng được chia sẻ. Qúy khách có quyền
                quyết định xem có đồng ý chia sẻ thông tin hoặc tham gia hay
                không.</span
              ></span
            ></span
          >
        </p>
  
        <h2 style="text-align: justify">
          <span style="font-size: 16pt"
            ><span style="font-family: Arial"
              ><span style="color: #000000"
                >3. Thời gian lưu trữ và chỉnh sửa thông tin</span
              ></span
            ></span
          >
        </h2>
  
        <p style="text-align: justify">
          <span style="font-size: 11.5pt"
            ><span style="font-family: Arial"
              ><span style="color: #0a0a0a"
                >– Thông tin của khách hàng được Thẩm Mỹ Viện Quốc Tế AURA lưu trữ
                trên hệ thống thông tin để đảm bảo các quyền lợi sau mua hàng theo
                Quy chế thành viên như: chăm sóc, tặng quà, tích điểm nâng
                VIP…</span
              ></span
            ></span
          >
        </p>
  
        <p style="text-align: justify">
          <span style="font-size: 11.5pt"
            ><span style="font-family: Arial"
              ><span style="color: #0a0a0a"
                >– Thông tin của khách hàng được lưu trữ vào dữ liệu khách hàng
                của Thẩm Mỹ Viện Quốc Tế AURA vô thời hạn tuy nhiên quý khách có
                quyền thông báo tới chúng tôi để xóa thông tin của quý khách nếu
                muốn.</span
              ></span
            ></span
          >
        </p>
  
        <p style="text-align: justify">
          <span style="font-size: 11.5pt"
            ><span style="font-family: Arial"
              ><span style="color: #0a0a0a"
                >– Khách hàng muốn chỉnh sửa dữ liệu cá nhân có thể liên hệ với bộ
                phận chăm sóc khách hàng tại cửa hàng hoặc qua hotline của Thẩm Mỹ
                Viện Quốc Tế AURA</span
              ></span
            ></span
          >
        </p>
  
        <h2 style="text-align: justify">
          <span style="font-size: 16pt"
            ><span style="font-family: Arial"
              ><span style="color: #000000"
                >4. Địa chỉ đơn vị thu thập và quản lý thông tin</span
              ></span
            ></span
          >
        </h2>
  
        <p style="text-align: justify">
          <span style="font-size: 11.5pt"
            ><span style="font-family: Arial"
              ><span style="color: #0a0a0a"
                >– Thông tin của quý khách được Thẩm Mỹ Viện Quốc Tế AURA thu thập
                từ việc đăng ký thành viên trên trang web
              </span></span
            ></span
          ><a href="https://thammyaura.vn/" style="text-decoration: none"
            ><span style="font-size: 11.5pt"
              ><span style="font-family: Arial"
                ><span style="color: #1155cc"
                  ><u>https://thammyaura.vn/</u></span
                ></span
              ></span
            ></a
          ><span style="font-size: 11.5pt"
            ><span style="font-family: Arial"
              ><span style="color: #0a0a0a"
                >, từ các phiếu khảo sát, phiếu tham dự chương trình khuyến mãi mà
                khách hàng tự nguyện đăng ký và điền thông tin khi đã đọc hết các
                điều khoản. Và các thông tin quý khách cung cấp lúc tư vấn trực
                tiếp, qua điện thoại hay đăng ký nhận khuyến mãi trên
                website.</span
              ></span
            ></span
          >
        </p>
  
        <p style="text-align: justify">
          <span style="font-size: 11.5pt"
            ><span style="font-family: Arial"
              ><span style="color: #0a0a0a"
                >– Địa chỉ lưu trữ thông tin của quý khách là tại website
              </span></span
            ></span
          ><a href="https://thammyaura.vn/" style="text-decoration: none"
            ><span style="font-size: 11.5pt"
              ><span style="font-family: Arial"
                ><span style="color: #1155cc"
                  ><u>https://thammyaura.vn/</u></span
                ></span
              ></span
            ></a
          ><span style="font-size: 11.5pt"
            ><span style="font-family: Arial"
              ><span style="color: #0a0a0a">
                của Thẩm Mỹ Viện Quốc Tế AURA, và các phần mềm chăm sóc khách hàng
                khác, mọi thắc mắc về vấn đề thu thập &amp; quản lý thông tin, vui
                lòng liên hệ:</span
              ></span
            ></span
          >
        </p>
  
        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="font-family: Nunito, sans-serif"
              ><span style="color: #444444"
                ><span style="background-color: #ffffff"
                  >THẨM MỸ VIỆN QUỐC TẾ AURA</span
                ></span
              ></span
            ></span
          >
        </p>
  
        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="font-family: Nunito, sans-serif"
              ><span style="color: #444444"
                ><span style="background-color: #ffffff">Mã số thuế:</span></span
              ></span
            ></span
          >
        </p>
  
        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="font-family: Nunito, sans-serif"
              ><span style="color: #444444"
                ><span style="background-color: #ffffff"
                  >Trụ sở chính: 67 Trần Thiện Chánh, P12, Q10, HCM</span
                ></span
              ></span
            ></span
          >
        </p>
  
        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="font-family: Nunito, sans-serif"
              ><span style="color: #444444"
                ><span style="background-color: #ffffff"
                  >Số điện thoại chăm sóc khách hàng:
                </span></span
              ></span
            ></span
          ><span style="font-size: 11.5pt"
            ><span style="font-family: Arial"
              ><span style="color: #050505"
                ><span style="background-color: #ffffff">0833.08.2222</span></span
              ></span
            ></span
          >
        </p>
  
        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="font-family: Nunito, sans-serif"
              ><span style="color: #444444"
                ><span style="background-color: #ffffff">Hotline: </span></span
              ></span
            ></span
          ><span style="font-size: 11.5pt"
            ><span style="font-family: Arial"
              ><span style="color: #050505"
                ><span style="background-color: #ffffff">0833.08.2222</span></span
              ></span
            ></span
          >
        </p>
  
        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="font-family: Nunito, sans-serif"
              ><span style="color: #444444"
                ><span style="background-color: #ffffff"
                  >Email: thammyaura@gmail.com</span
                ></span
              ></span
            ></span
          >
        </p>
  
        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="font-family: Nunito, sans-serif"
              ><span style="color: #444444"
                ><span style="background-color: #ffffff"
                  >Địa chỉ các cơ sở có thẩm quyền tương đương:</span
                ></span
              ></span
            ></span
          >
        </p>
  
        <h2 style="text-align: justify">
          <span style="font-size: 16pt"
            ><span style="font-family: Arial"
              ><span style="color: #000000"
                >5. Bảo mật thông tin cá nhân khách hàng</span
              ></span
            ></span
          >
        </h2>
  
        <p style="text-align: justify">
          <span style="font-size: 11.5pt"
            ><span style="font-family: Arial"
              ><span style="color: #0a0a0a"
                >– Thẩm Mỹ Viện Quốc Tế AURA cam kết bảo mật thông tin cá nhân của
                bạn bằng mọi cách thức có thể. Chúng tôi sẽ sử dụng công nghệ bảo
                mật thông tin khác nhau nhằm bảo vệ thông tin này không bị truy
                lục, sử dụng hoặc tiết lộ ngoài ý muốn.</span
              ></span
            ></span
          >
        </p>
  
        <p style="text-align: justify">
          <span style="font-size: 11.5pt"
            ><span style="font-family: Arial"
              ><span style="color: #0a0a0a"
                >– Thẩm Mỹ Viện Quốc Tế AURA khuyến cáo bạn nên bảo mật các thông
                tin liên quan đến mật khẩu truy xuất của bạn và không nên chia sẻ
                với bất kỳ người nào khác. Nếu sử dụng máy tính chung nhiều người,
                bạn nên đăng xuất, hoặc thoát hết tất cả cửa sổ website đang mở,
                hạn chế truy cập tài khoản bằng đăng nhập tự động, chú ý chế độ
                sao lưu password và đảm bảo đăng xuất khỏi tài khoản khi sử dụng
                máy tính chung để đăng nhập tài khoản trên website của chúng tôi.
                Chúng tôi sẽ không chịu trách nhiệm khi những thông tin cá nhân
                của khách hàng bị rò rỉ vì những lý do trên./</span
              ></span
            ></span
          >
        </p>
  
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>

