
<div id="content" class="site-content">
    <h1 class="hidden">Thẩm Mỹ Viện Quốc Tế Aura</h1>
    <div class="home-hero">
        <div class="hero-slider">
        <noscript>
        <img alt="Hệ thống thẩm mỹ Argency" data-src="./assets/images/01_BANNER/1.jpg" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
        <noscript>
            <img src="./assets/images/01_BANNER/1.jpg" alt="Hệ thống thẩm mỹ Argency" />
        </noscript>
        </noscript>
        <img class="lazyload" src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E" data-src="./assets/images/01_BANNER/1.jpg" alt="Hệ thống thẩm mỹ Argency"/>
        <noscript>
        <img alt="Hệ thống thẩm mỹ Argency" data-src="./assets/images/01_BANNER/2.jpg" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
        <noscript>
            <img src="./assets/images/01_BANNER/2.jpg" alt="Hệ thống thẩm mỹ Argency" />
        </noscript>
        </noscript>
        <img class="lazyload"  src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E"  data-src="./assets/images/01_BANNER/2.jpg"  alt="Hệ thống thẩm mỹ Argency"/>
        <noscript>
        <img
            alt="Hệ thống thẩm mỹ Argency"
            data-src="./assets/images/01_BANNER/3.jpg"
            class="lazyload"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        />
        <noscript>
            <img
            src="./assets/images/01_BANNER/3.jpg"
            alt="Hệ thống thẩm mỹ Argency"
            />
        </noscript>
        </noscript>
        <img
        class="lazyload"
        src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E"
        data-src="./assets/images/01_BANNER/3.jpg"
        alt="Hệ thống thẩm mỹ Argency"
        />
        <noscript>
        <img
            alt="Hệ thống thẩm mỹ Argency"
            data-src="./assets/images/01_BANNER/4.jpg"
            class="lazyload"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        />
        <noscript>
            <img
            src="./assets/images/01_BANNER/4.jpg"
            alt="Hệ thống thẩm mỹ Argency"
            />
        </noscript>
        </noscript>
        <img
        class="lazyload"
        src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E"
        data-src="./assets/images/01_BANNER/4.jpg"
        alt="Hệ thống thẩm mỹ Argency"
        />
        <noscript>
        <img
            alt="Hệ thống thẩm mỹ Argency"
            data-src="./assets/images/01_BANNER/5.jpg"
            class="lazyload"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        />
        <noscript>
            <img
            src="./assets/images/01_BANNER/5.jpg"
            alt="Hệ thống thẩm mỹ Argency"
            />
        </noscript>
        </noscript>
        <img
        class="lazyload"
        src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E"
        data-src="./assets/images/01_BANNER/5.jpg"
        alt="Hệ thống thẩm mỹ Argency"
        />
        </div>
    </div>
    <div class="home-sanpham">
    <a href="#">
        <h2 class="home-section-title"><span>DỊCH VỤ NỔI BẬT</span></h2>
    </a>
    <div class="grid-container">
        <div class="woocommerce">
        <div
            id="wc-column-container"
            class="wc-columns-container wc-columns-4 wc-tablet-columns-2 wc-mobile-columns-1"
        >
            <ul class="products columns-4 danhmuc-noibat">
            <li>
                <a href="#"
                ><noscript
                    ><img
                    alt=""
                    data-src="./assets/images/02_DV_NOIBAT/GIAMBEO_SCULPSURE_4.0.png"
                    class="lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript
                    ><img
                        src="./assets/images/02_DV_NOIBAT/GIAMBEO_SCULPSURE_4.0.png"
                        alt="" /></noscript></noscript
                ><img
                    class="lazyload"
                    src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E"
                    data-src="./assets/images/02_DV_NOIBAT/GIAMBEO_SCULPSURE_4.0.png"
                    alt="" /></a
                ><a href="#">
                <h3>GIẢM BÉO SCULPSURE 4.0</h3>
                </a>
            </li>
            <li>
                <a href="#"
                ><noscript
                    ><img
                    alt=""
                    data-src="./assets/images/02_DV_NOIBAT/GIAMBEO_MAXTHIN_SGOLD.png"
                    class="lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript
                    ><img
                        src="./assets/images/02_DV_NOIBAT/GIAMBEO_MAXTHIN_SGOLD.png"
                        alt="" /></noscript></noscript
                ><img
                    class="lazyload"
                    src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E"
                    data-src="./assets/images/02_DV_NOIBAT/GIAMBEO_MAXTHIN_SGOLD.png"
                    alt="" /></a
                ><a href="#">
                <h3>GIẢM BÉO MAXTHIN S.GOLD</h3>
                </a>
            </li>
            <li>
                <a href="#"
                ><noscript
                    ><img
                    alt=""
                    data-src="./assets/images/02_DV_NOIBAT/TRINAM_FROZEN_MELASMA.png"
                    class="lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript
                    ><img
                        src="./assets/images/02_DV_NOIBAT/TRINAM_FROZEN_MELASMA.png"
                        alt="" /></noscript></noscript
                ><img
                    class="lazyload"
                    src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E"
                    data-src="./assets/images/02_DV_NOIBAT/TRINAM_FROZEN_MELASMA.png"
                    alt="" /></a
                ><a href="#">
                <h3>NÁM FROZEN MELASMA</h3>
                </a>
            </li>
            <li>
                <a href="#"
                ><noscript>
                    <img
                    alt=""
                    data-src="./assets/images/02_DV_NOIBAT/CANGCHI_SUPER_CLG_VLIFT.png"
                    class="lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    /><noscript
                    ><img
                        src="./assets/images/02_DV_NOIBAT/CANGCHI_SUPER_CLG_VLIFT.png"
                        alt=""
                    />
                    </noscript>
                </noscript>
                <img
                    class="lazyload"
                    src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E"
                    data-src="./assets/images/02_DV_NOIBAT/CANGCHI_SUPER_CLG_VLIFT.png"
                    alt="" /></a
                ><a href="#">
                <h3>CĂNG CHỈ SUPER COLAGEN V-LIFT</h3>
                </a>
            </li>
            </ul>
        </div>
        </div>
    </div>
    </div>
    <div class="home-sanpham">
    <a href="#">
        <h2 class="home-section-title"><span>DỊCH VỤ KHÁC</span></h2>
    </a>
    <div class="grid-container">
        <div class="woocommerce">
        <div
            id="wc-column-container"
            class="wc-columns-container wc-columns-4 wc-tablet-columns-2 wc-mobile-columns-1"
        >
            <ul class="products columns-4 danhmuc-noibat">
            <li>
                <a href="#"
                ><noscript
                    ><img
                    alt=""
                    data-src="./assets/images/03_DV_KHAC/CANGBONG.png"
                    class="lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript
                    ><img
                        src="./assets/images/03_DV_KHAC/CANGBONG.png"
                        alt="" /></noscript></noscript
                ><img
                    class="lazyload"
                    src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E"
                    data-src="./assets/images/03_DV_KHAC/CANGBONG.png"
                    alt="" /></a
                ><a href="#">
                <h3>CẤY CĂNG BÓNG</h3>
                </a>
            </li>
            <li>
                <a href="#"
                ><noscript
                    ><img
                    alt=""
                    data-src="./assets/images/03_DV_KHAC/NANGCO.png"
                    class="lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript
                    ><img
                        src="./assets/images/03_DV_KHAC/NANGCO.png"
                        alt="" /></noscript></noscript
                ><img
                    class="lazyload"
                    src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E"
                    data-src="./assets/images/03_DV_KHAC/NANGCO.png"
                    alt="" /></a
                ><a href="#">
                <h3>NÂNG CƠ</h3>
                </a>
            </li>
            <li>
                <a href="#"
                ><noscript
                    ><img
                    alt=""
                    data-src="./assets/images/03_DV_KHAC/PHUNXAMMAY.png"
                    class="lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript
                    ><img
                        src="./assets/images/03_DV_KHAC/PHUNXAMMAY.png"
                        alt="" /></noscript></noscript
                ><img
                    class="lazyload"
                    src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E"
                    data-src="./assets/images/03_DV_KHAC/PHUNXAMMAY.png"
                    alt="" /></a
                ><a href="#">
                <h3>PHUN XĂM MÀY</h3>
                </a>
            </li>
            <li>
                <a href="#"
                ><noscript>
                    <img
                    alt=""
                    data-src="./assets/images/03_DV_KHAC/PHUNXAMMOI.png"
                    class="lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    /><noscript
                    ><img
                        src="./assets/images/03_DV_KHAC/PHUNXAMMOI.png"
                        alt=""
                    />
                    </noscript>
                </noscript>
                <img
                    class="lazyload"
                    src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E"
                    data-src="./assets/images/03_DV_KHAC/PHUNXAMMOI.png"
                    alt="" /></a
                ><a href="#">
                <h3>PHUN XĂM MÔI</h3>
                </a>
            </li>
            <li>
                <a href="#"
                ><noscript
                    ><img
                    alt=""
                    data-src="./assets/images/03_DV_KHAC/TRIMUN.png"
                    class="lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript
                    ><img
                        src="./assets/images/03_DV_KHAC/TRIMUN.png"
                        alt="" /></noscript></noscript
                ><img
                    class="lazyload"
                    src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E"
                    data-src="./assets/images/03_DV_KHAC/TRIMUN.png"
                    alt="" /></a
                ><a href="#">
                <h3>MỤN</h3>
                </a>
            </li>
            <li>
                <a href="#"
                ><noscript
                    ><img
                    alt=""
                    data-src="./assets/images/03_DV_KHAC/NANGMUI.png"
                    class="lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript
                    ><img
                        src="./assets/images/03_DV_KHAC/NANGMUI.png"
                        alt="" /></noscript></noscript
                ><img
                    class="lazyload"
                    src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E"
                    data-src="./assets/images/03_DV_KHAC/NANGMUI.png"
                    alt="" /></a
                ><a href="#">
                <h3>NÂNG MŨI</h3>
                </a>
            </li>
            <li>
                <a href="#">
                <noscript>
                    <img alt="" data-src="./assets/images/03_DV_KHAC/DIEUKHACMAY.png" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                    <noscript>
                    <img src="./assets/images/03_DV_KHAC/DIEUKHACMAY.png" alt="" />
                    </noscript>
                </noscript>
                        <img
                    class="lazyload"
                    src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E"
                    data-src="./assets/images/03_DV_KHAC/DIEUKHACMAY.png"
                    alt="" /></a
                ><a href="#">
                <h3>ĐIÊU KHẮC MÀY</h3>
                </a>
            </li>
            <li>
                <a href="#"
                ><noscript>
                    <img
                    alt=""
                    data-src="./assets/images/03_DV_KHAC/CATMI.png"
                    class="lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    /><noscript
                    ><img src="./assets/images/03_DV_KHAC/CATMI.png" alt="" />
                    </noscript>
                </noscript>
                <img
                    class="lazyload"
                    src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E"
                    data-src="./assets/images/03_DV_KHAC/CATMI.png"
                    alt="" /></a
                ><a href="#">
                <h3>CẮT MÍ</h3>
                </a>
            </li>
            </ul>
        </div>
        </div>
    </div>
    </div>
    <div class="home-sanpham">
    <a href="#">
        <h2 class="home-section-title"><span>KẾT QUẢ TRƯỚC SAU</span></h2>
    </a>
    <div class="grid-container">
        <div class="slider-doitac">
        <div class="item-doitac">
            <div class="doitac-img">
            <noscript
                ><img
                alt="."
                title="."
                data-src="./assets/images/04_ANH_B_A/BEO.jpg"
                class="attachment-full size-full wp-post-image lazyload"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript
                ><img
                    alt="."
                    title="."
                    data-src="./assets/images/04_ANH_B_A/BEO.jpg"
                    class="attachment-full size-full wp-post-image lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript
                    ><img
                    width="100%"
                    height="300"
                    src="./assets/images/04_ANH_B_A/BEO.jpg"
                    class="attachment-full size-full wp-post-image"
                    alt="."
                    title="." /></noscript></noscript></noscript
            ><img
                src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20200%20100%22%3E%3C/svg%3E"
                data-src="./assets/images/04_ANH_B_A/BEO.jpg"
                class="lazyload attachment-full size-full wp-post-image"
                alt="."
                title="."
            />
            </div>
        </div>
        <div class="item-doitac">
            <div class="doitac-img">
            <noscript
                ><img
                alt="."
                title="."
                data-src="./assets/images/04_ANH_B_A/CANGBONG.jpg"
                class="attachment-full size-full wp-post-image lazyload"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript
                ><img
                    alt="."
                    title="."
                    data-src="./assets/images/04_ANH_B_A/CANGBONG.jpg"
                    class="attachment-full size-full wp-post-image lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript
                    ><img
                    width="100%"
                    height="300"
                    src="./assets/images/04_ANH_B_A/CANGBONG.jpg"
                    class="attachment-full size-full wp-post-image"
                    alt="."
                    title="." /></noscript></noscript></noscript
            ><img
                src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20200%20100%22%3E%3C/svg%3E"
                data-src="./assets/images/04_ANH_B_A/CANGBONG.jpg"
                class="lazyload attachment-full size-full wp-post-image"
                alt="."
                title="."
            />
            </div>
        </div>
        <div class="item-doitac">
            <div class="doitac-img">
            <noscript
                ><img
                alt="."
                title="."
                data-src="./assets/images/04_ANH_B_A/CANGCHI.jpg"
                class="attachment-full size-full wp-post-image lazyload"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript
                ><img
                    alt="."
                    title="."
                    data-src="./assets/images/04_ANH_B_A/CANGCHI.jpg"
                    class="attachment-full size-full wp-post-image lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript
                    ><img
                    width="100%"
                    height="300"
                    src="./assets/images/04_ANH_B_A/CANGCHI.jpg"
                    class="attachment-full size-full wp-post-image"
                    alt="."
                    title="." /></noscript></noscript></noscript
            ><img
                src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20200%20100%22%3E%3C/svg%3E"
                data-src="./assets/images/04_ANH_B_A/CANGCHI.jpg"
                class="lazyload attachment-full size-full wp-post-image"
                alt="."
                title="."
            />
            </div>
        </div>
        <div class="item-doitac">
            <div class="doitac-img">
            <noscript
                ><img
                alt="."
                title="."
                data-src="./assets/images/04_ANH_B_A/NAM.jpg"
                class="attachment-full size-full wp-post-image lazyload"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript
                ><img
                    alt="."
                    title="."
                    data-src="./assets/images/04_ANH_B_A/NAM.jpg"
                    class="attachment-full size-full wp-post-image lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript
                    ><img
                    width="100%"
                    height="300"
                    src="./assets/images/04_ANH_B_A/NAM.jpg"
                    class="attachment-full size-full wp-post-image"
                    alt="."
                    title="." /></noscript></noscript></noscript
            ><img
                src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20200%20100%22%3E%3C/svg%3E"
                data-src="./assets/images/04_ANH_B_A/NAM.jpg"
                class="lazyload attachment-full size-full wp-post-image"
                alt="."
                title="."
            />
            </div>
        </div>
        <div class="item-doitac">
            <div class="doitac-img">
            <noscript
                ><img
                alt="."
                title="."
                data-src="./assets/images/04_ANH_B_A/XOANHAN.jpg"
                class="attachment-full size-full wp-post-image lazyload"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript
                ><img
                    alt="."
                    title="."
                    data-src="./assets/images/04_ANH_B_A/XOANHAN.jpg"
                    class="attachment-full size-full wp-post-image lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript
                    ><img
                    width="100%"
                    height="300"
                    src="./assets/images/04_ANH_B_A/XOANHAN.jpg"
                    class="attachment-full size-full wp-post-image"
                    alt="."
                    title="." /></noscript></noscript></noscript
            ><img
                src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20200%20100%22%3E%3C/svg%3E"
                data-src="./assets/images/04_ANH_B_A/XOANHAN.jpg"
                class="lazyload attachment-full size-full wp-post-image"
                alt="."
                title="."
            />
            </div>
        </div>
        </div>
    </div>
    </div>

    <div class="home-cta" style="margin-bottom: 10px">
        <div class="grid-container">
            <div class="grid-10 hide-on-mobile">
            <div class="cta-icon"><i class="icon ion-ios-bulb"></i></div>
            </div>
            <div class="grid-70 mobile-grid-100">
            <div class="cta-box-left">
                <h2>Đăng ký tư vấn ngay</h2>
                <p>Nhiều Chương Trình Hấp Dẫn Đang Chờ Đợi Bạn</p>
            </div>
            </div>
            <div class="grid-20 mobile-grid-100">
            <div class="cta-box-right">
                <a href="#" class="cta-box-button">Liên hệ ngay</a>
            </div>
            </div>
        </div>
    </div>
</div>